@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
  --main-color: #97837b;
  --input-bg-color: #f6f6f6;
  --placeholder-color: #c4bbb8;
  --border-color: #ddd;
  --white-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", sans-serif;
}

body {
  color: var(--main-color);
}

.header {
  width: 100%;
  background-color: var(--white-color);
  border-bottom: 1px solid var(--border-color);
}

.header__inner {
  position: relative;
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__logo {
  font-size: 36px;
  font-weight: 600;
}

.header-nav {
  position: absolute;
  right: 150px;
  border: 1px solid var(--placeholder-color);
  border-radius: 3px;
  display: flex;
  align-items: center;
}

.header-nav__link {
  padding: 5px 20px;
  background-color: var(--input-bg-color);
  color: var(--placeholder-color);
  font-size: 14px;
  text-decoration: none;
}

.page-name__wrapper {
  margin: 40px auto;
  font-size: 20px;
  text-align: center;
}
